/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #fcfcfc;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.legend text{
    font-size: 12px;
}
.tooltip {
    text-align: center;
    width: 70px;
    height: 18px;
    padding: 2px;
    font-size: 10px;
    background-color: white;
    border: 1px black;
    border-radius: 3px;
    margin-left: -25px;
    margin-top: -25px;
    pointer-events: none;
}

.var_pos {
    color: green;
    font-weight: bold;
}

.var_neg {
    color: red;
    font-weight: bold;
}

/* Radar style */
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

#radar svg {
    width: 700px;
    height: 600px;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 50px;
    font-size: 11px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    padding: 3px 7px 3px 7px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}

.toolTip span {
    font-weight: 500;
    color: #081F2C;
}