/* --------------------------------

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
    width: 90%;
    max-width: 768px;
    margin: 2em auto;
}

.cd-container::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}

.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 30px;
    }
}

body {
    min-height: 75rem;
    padding-top: 4.5rem;
    background-color: #fcfcfc;
}

svg.chart {
    height: 250px;
    min-height: 250px;
        width: 350px;
    min-width: 350px;
}

svg.chart_score {
    height: 250px;
    min-height: 250px;
}

svg.chart_score_hist {
    height: 250px;
    min-height: 250px;
}

svg.chart_scatter {
    height: 400px;
    min-height: 400px;
}

svg.chart_stacked_score {
    height: 250px;
    min-height: 250px;
}

svg.chart_rank_score {
    height: 250px;
    min-height: 250px;
}

.legend_svg svg {
    height: 30px;
    min-height: 30px;
}

.header {
    color: #ee6e73;
    font-weight: 300;
}

.footer {
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.legend text {
    font-size: 12px;
}

.tooltip {
    text-align: center;
    width: 120px;
    height: 18px;
    padding: 2px;
    font-size: 10px;
    background-color: #ccc;
    border: 1px black;
    border-radius: 3px;
    margin-left: -25px;
    margin-top: -25px;
    pointer-events: none;
}

.var_pos {
    color: green;
    font-weight: bold;
}

.var_neg {
    color: red;
    font-weight: bold;
}

/* Radar style */
.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #666;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tick line {
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;

}

.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis_label {
    font-size: 12px;
}

#radar svg {
    width: 700px;
    height: 600px;
}

.toolTip {
    pointer-events: none;
    position: absolute;
    display: none;
    min-width: 100px;
    font-size: 10px;
    height: auto;
    background: none repeat scroll 0 0 #999;
    padding: 3px 7px 3px 7px;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3;
    color: #5B6770;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, .15);
}

.toolTip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -12px;
}

.toolTip span {
    font-weight: 500;
    color: #081F2C;
}

.score_label {
    font-size: 11px;
    font-weight: 700;
}

path.line_score {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.chart_rank_score .x-axis path, .chart_rank_score .y-axis path {
    display: none;
}

.chart_rank_score .rank-line {
    fill: none;
    stroke: black;
    stroke-linejoin: round;
    stroke-linecap: round;
}

.chart_rank_score .start-dot, .chart_rank_score .end-dot {
    fill: grey;
}

.chart_rank_score .tooltip text {
    font-size: 10px;
    fill: black;
}

.chart_rank_score .x-axis text {
    font-size: 10px;
}

.chart_rank_score .y-axis text {
}

.chart_rank_score text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    opacity: 0.7;
    font-size: 10px;
}

.chart_rank_score .y-label {
    fill: black;
    font-size: 10px;
}

.chart_rank_score .voronoi path {
    fill: none;
    pointer-events: all;
}

.chart_rank_score .grid-line {
    stroke: black;
    opacity: 0.2;
    stroke-dasharray: 2, 2;
}

.chart_rank_score .end-label {
    font-size: 10px;
    fill: black;
    fill-opacity: 0.8;
}